* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif; */
.section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

/* header */
header {
    background-image: url(../images/banner/banner3.png);
    background-size: 100% 100%;
    height: 780px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 130px;
}

.banner-text {
    width: 500px;
    text-align: right;
    padding-right: 60px;
}

.banner-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 25px;
}

.banner-text {
    color: #ffffff;
    margin-bottom: 35px;
}

.pry-btn {
    padding: 15px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

/* main */
main {
    width: 70%;
    margin: 0 auto;
}

/* pev-year section */
.pev-year {
    display: flex;
    align-items: center;
    gap: 85px;
    margin-bottom: 130px;
}

.pev-year-subtitle {
    color: #444343;
    margin-bottom: 15px;
}

.pev-year-grouph p {
    margin-bottom: 8px;
}

.pev-year-grouph p i {
    padding-right: 3px;
}

/* plans */
.plans {
    margin-bottom: 130px;
}

.plans .section-title {
    text-align: center;
    margin-bottom: 50px;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    gap: 85px;
}

.plan-item {
    text-align: center;
}

.plan-item img {
    margin-bottom: 25px;
}

.plan-title {
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 15px;
}

.plans-text {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* mindset */
.mindset {
    background-image: linear-gradient(to right, rgb(0, 95, 172), rgba(0, 221, 255, 0.001)), url(../images/watch.png);
    background-position: 100% 100%;
    display: flex;
    align-items: center;
    margin-bottom: 130px;
    padding: 60px;
}

.mindset-info {
    width: 480px;
}

.mindset-info .section-title {
    color: #ffffff;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #151414;
    color: #ffffff;
    padding: 130px 15%;
}

footer h3 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}

.future {
    width: 480px;
}

.future p {
    margin-bottom: 16px;
}

.social-icon img {
    margin-top: 16px;
    margin-right: 10px;
}

form {
    width: 250px;
}

form h3 {
    font-weight: 600;
    font-size: 25px;
}

input[type=email] {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.pry-btn.inp {
    background-color: #005FAC;
    color: #ffffff;
}